body{
    background-image: url(morado.jpg);
    background-size: cover;
    background-attachment: fixed;
    box-sizing: border-box;

}
.contenedor-formulario{
    width: 50%;
    margin: auto;
    background-color: rgb(141, 59, 218)    ;
    border: 2px solido #000;
    border-radius: 10px;
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 2px solid rgba(255, 255, 255, 0.5);    
    align-items: center;
    background: transparent;
    backdrop-filter: blur(5px);
    text-align: left;
    position: relative;
    display: block;
}
label{
    color: #fff;
    font-size: 20px;
    display: inline;
}
input{
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #000;
    display: block;
}
.botones{
    align-content: center;
    text-align: center;
    background-color: antiquewhite;
    position: relative;
    display: block;
    margin-right: 10px;
}
#botom:hover{
    background-color: rgb(141, 59, 218);
    color: white;
}
.selector{
    text-align: center;
    margin: 10px 0;
    display: inline-block;
}
.contenedor-carta{
    border: 2px solid #000;
    display:inline-flex;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: auto;
    align-content: ce;
}
.contenedor-titulo{
    text-align: center;
    position:fixed;
    color:black;
    background-color: thistle;
    top:0;
    width: 100%;
    z-index: 1;
    background: transparent;
    backdrop-filter: blur(5px);
    border: 2px solid white;
}

textarea{
    width: 98%;
    height: 3cm;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #000;
    display: block;
    resize: none;
    
}



#CartaGenerada{
    visibility: hidden;

}




/* quita botones de input en los numeros, hace que pueda agregar mas texto? */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}